/.vs
/execute_multiple_ffmpeg/bin
/execute_multiple_ffmpeg/obj
/execute_multiple_ffmpeg/Properties/PublishProfiles/FolderProfile.pubxml.user
/execute_multiple_ffmpeg/execute_multiple_ffmpeg.csproj.user
/test/ghi/sample.mp4.h265_nv_-b_ref_mode_0_-cq_38.mp4
/sample.mp4.libx265_-b_ref_mode_0_-cq_38.mp4
/emf/bin
/emf/obj
/emf/Properties/PublishProfiles/FolderProfile.pubxml.user
/emf/emf.csproj.user
/emf_nv/bin
/emf_nv/obj
/emf_nv/Properties/PublishProfiles/FolderProfile.pubxml.user
/emf_nv/emf_nv.csproj.user
/libEmf/bin
/libEmf/obj
