/.vs
/execute_multiple_ffmpeg/bin
/execute_multiple_ffmpeg/obj
/execute_multiple_ffmpeg/Properties/PublishProfiles/FolderProfile.pubxml.user
/execute_multiple_ffmpeg/execute_multiple_ffmpeg.csproj.user
/test/ghi/sample.mp4.h265_nv_-b_ref_mode_0_-cq_38.mp4
/sample.mp4.libx265_-b_ref_mode_0_-cq_38.mp4
/emf_nv/obj
/libEmf/bin/Release/net8.0
/libEmf/obj
/libEmf/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/emf_nv/bin/Release/net8.0
/emf/bin
/emf/obj
/emf_nv/bin/Debug/net8.0
/libEmf/bin/Debug/net8.0
/emf_nv/bin/publish
/emf_nv/bin
/emf/Properties/PublishProfiles/FolderProfile.pubxml.user
/emf/emf.csproj.user
/emf_nv/Properties/PublishProfiles/FolderProfile.pubxml.user
/emf_nv/emf_nv.csproj.user
